<div class="container">

  <h1 class="mb-5">Stupid Coaching</h1>
    <div id="your-answer" class="border-start mb-4 px-3">
      <h2 class="mb-4"><%= @user_input %></h2>
      <h2><i>- You</i></h2>
    </div>



    <div id="couch-answer" class="border-start mb-4 px-3 bg-warning">
      <h2 class="mb-4"><%= @answer %></h2>
      <h2><i>- Your coach</i></h2>
    </div>


  <%= link_to "Ask a new question", root_path, class: "text-decoration-none" %>
</div>
